$primary: #180B63;
$secondary: #070423;
$text: #B9B8CA;
$mincho: "游明朝", YuMincho, "Hiragino Mincho ProN W3", "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
$gothic: "Hiragino Sans W3", "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
#drawer{
  display: none;
}
.menuOpener{
  display: block;
  width: 30px;
  height: 26px;
  position: relative;
  cursor: pointer;
  span, span::before, span::after{
    display: block;
    width: 30px;
    height: 3px;
    background-color: #FFFFFD;
    border-radius: 2px;
    position: absolute;
    left: 0;
    transition: all .5s;
  }
  span{
    top: 12px;
    &::before, &::after{
      content: '';
    }
    &::before{
      top: -12px;
    }
    &::after{
      top: 12px;
    }
  }
}
.drawerMenu{
  width: 280px;
  height: 100vh;
  background-color: #070423;
  position: fixed;
  top: 74px;
  right: -280px;
  transition: all .5s;
  ul{
    li{
      font-size: 14px;
      font-family: $mincho;
      border-bottom: 1px solid #FFF;
      a{
        display: block;
        color: $text;
        text-decoration: none;
        padding: 20px;
        transition: all 0.3s ease 0s;
        &:hover{
          color: #FFFFFD;
          background-color: $primary;
        }
        span{
          font-size: 10px;
          font-family: $gothic;
          margin-left: 10px;
        }
      }
    }
  }
}
.siteHeader{
  display: flex;
  width: 100%;
  box-sizing: border-box;
  color: #FFFFFD;
  background-color: #180B63;
  padding: 20px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  &__logo{
    flex: 1;
    a{
      display: inline-block;
      font-size: 16px;
      font-family: $mincho;
      color: #FFFFFD;
      line-height: 1;
      text-decoration: none;
      background: image_url('logo-museum.png') no-repeat 0 0 / 46px auto;
      padding-left: 50px;
      span{
        font-size: 14px;
        font-weight: bold;
        color: $text;
        font-family: $gothic;
        &::before{
          content: '\A';
          white-space: pre;
        }
      }
    }
  }
  &__menu{
    width: 30px;
    padding-top: 3px;
  }
}
#drawer:checked ~{
  .siteHeader{
    .menuOpener{
      span, span::before, span::after{
        transition: all .5s;
      }
      span{
        background-color: rgba(0,0,0,0);
        &::before{
          transform: rotate(-45deg);
          top: 0;
        }
        &::after{
          transform: rotate(45deg);
          top: 0;
        }
      }
    }
    .drawerMenu{
      right: 0;
      transition: all .5s;
    }
  }
}
.billboard{
  &--top{
    height: 100vh;
    background: image_url('bg_billboard-top.webp') no-repeat 50% 50% / cover;
  }
  &--history, &--qa, &--museum, &--museum, &--info, &--cafe, &--access, &--company{
    height: 200px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
  }
  &--history{
    background-image: image_url('bg_billboard-history.webp');
  }
  &--qa{
    background-image: image_url('bg_billboard-qa.webp');
  }
  &--museum{
    background-image: image_url('bg_billboard-museum.webp') ;
  }
  &--info{
    background-image: image_url('bg_billboard-info.webp') ;
  }
  &--cafe{
    background-image: image_url('bg_billboard-cafe.webp') ;
  }
  &--access{
    background-image: image_url('bg_billboard-access.webp') ;
  }
  &--company{
    background-image: image_url('bg_billboard-company.webp') ;
  }
  &__screen{
    display: table;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 15px;
    h1{
      display: table-cell;
      font-size: 28px;
      font-family: $mincho;
      color: #FFFFFD;
      line-height: 1.3;
      text-shadow: 2px 2px 2px #333;
      text-align: center;
      vertical-align: middle;
      span{
        font-size: 14px;
        &::before{
          content: '\A';
          white-space: pre;
        }
      }
    }
  }
}
@media all and (min-width: 768px){
  .billboard{
    &--history, &--qa, &--museum, &--museum, &--info, &--cafe, &--access, &--company{
      height: 400px;
    }
  }
}
@media all and (min-width: 1113px){
}