---
title: アクセス｜箱根マイセンアンテイーク美術館
description: 箱根マイセンアンティーク美術館へのアクセス方法をご案内しています。
path: access.html
---
.billboard--access
  .billboard__screen
.content
  %h1.pageTitle
    アクセス
    %span
      Access
  %section
    %h2.sectionTitle アクセス方法のご案内 <span>How to access</span>
    .embedElement
      :plain
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d2877.5111614157317!2d139.0390239987111!3d35.25348373055293!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xe3cfb19a6f3ed633!2z566x5qC544Oe44Kk44K744Oz44Ki44Oz44OG44Kj44O844Kv576O6KGT6aSo!5e0!3m2!1sja!2sjp!4v1623054071355!5m2!1sja!2sjp" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
    .methods
      .methods__header
        %h3.subTitle お車で
      .methods__content
        %p
          ・東名厚木IC～小田原厚木道路出口箱根口IC～国道1号線～強羅
        %p
          ・東名御殿場IC～国道138号線（乙女峠）～仙石原交差点右折～県道75号線～ローソン手前を左折～強羅
    .methods
      .methods__header
        %h3.subTitle 電車で
      .methods__content
        %p
          ・JR小田原駅～（箱根登山鉄道）～箱根湯本駅～（箱根登山鉄道）～強羅駅
        %p
          ・小田急新宿駅～（小田急線・箱根登山鉄道）～箱根湯本駅～（箱根登山鉄道）～強羅駅
    .methods
      .methods__header
        %h3.subTitle 強羅駅から
      .methods__content
        %p
          ・徒歩12分
          ・ケーブルカーに乗り換え「公園上」駅下車、徒歩6分
    .methods
      .methods__header
        %h3.subTitle バスで
      .methods__content
        %p
          ・箱根登山鉄道観光施設めぐりバス「ひめしゃら林道入口」バス停下車、徒歩5分
