---
title: コラボ名｜箱根マイセンアンテイーク美術館
description: 
path: collaboration.html
---
.billboard--collabo
  .billboard__screen
.content
  %h1.pageTitle
    箱根マイセンアンティーク美術館 x 東京ロリィタ
    %span
      Collaboration
  %section
    %h2.sectionTitle コスプレイヤーの撮影場所として館内を開放！

