---
title: 会社情報｜箱根マイセンアンテイーク美術館 - 箱根観光スポット
description: 箱根マイセンアンティーク美術館の運営会社情報・沿革をご紹介しております。
path: company.html
---
.billboard--company
  .billboard__screen
.content
  %h1.pageTitle
    会社情報
    %span
      Company Information
  %section
    %h2.sectionTitle 会社情報詳細 <span>Summary</span>
    %table.basicTable
      %tr
        %th 施設名称
        %td 箱根マイセンアンティーク美術館
      %tr
        %th 設立
        %td 1998年1月
      %tr
        %th 住所
        %td 〒250-0408 神奈川県足柄下郡箱根町強羅1320-653
      %tr
        %th TEL
        %td 0460-83-8855
      %tr
        %th FAX
        %td 0460-83-8856
      %tr
        %th 運営会社
        %td オールドアーズ株式会社
      %tr
        %th 担当者名
        %td 村田英雄
  %section
    %h2.sectionTitle 沿革 <span>History</span>
    %table.basicTable
      %tr
        %th 1998年1月
        %td 東京都港区白金台にて「マイセンミュージアム　マルコリーニ」開館
      %tr
        %th 2000年7月
        %td 箱根仙石原に移転、「箱根マイセン庭園美術館」として開館
      %tr
        %th 2011年9月
        %td 箱根強羅に移転、「箱根マイセンアンティーク美術館」として開館
