---
title: 箱根マイセンアンティーク美術館
description: 箱根マイセンアンティーク美術館でヨーロッパの貴族達が愛したマイセン磁器の素晴らしさをご鑑賞ください。
path: index.html
---
.billboard--top
  .billboard__screen
    %h1
      箱根の森で古マイセンと出会い<br>優雅な時間を体験してください
      %span
        Spend a relaxing time at Hakone while enjoying the wonders of Antique Meissen.
.content--top
  .content--top__inner
    .greeting
      .greeting__header
        %h2 ごあいさつ
      .greeting__content
        %p
          私ども箱根マイセン庭園美術館は、箱根仙石原の地でお陰様をもちまして、大変多くの方々にご来館いただいてまいりました。
          そんな折、豊かな自然に囲まれた箱根強羅の地に、日本の大正期から昭和初期にみられた折中様式の歴史ある洋館に出会い、マイセンアンティーク美術館として開館いたしました。この地で新たなマイセン物語をひも解いていきたいと思います。
        %p
          箱根での旅のひとつのエッセンスとして、ヨーロッパの貴族たちが愛して止まなかったマイセン磁器のすばらしさを加えていただければ幸いです。
        %p
          箱根マイセンアンティーク美術館館長 村田英雄

