---
title: 箱根マイセンアンティーク美術館 - 箱根観光スポット
description: 箱根マイセンアンティーク美術館でヨーロッパの貴族達が愛したマイセン磁器を多数展示しております。箱根の観光スポットとしてマイセンの素晴らしさをぜひご鑑賞ください。
path: index.html
---
.billboard--top
  .billboard__screen
    %h1
      箱根の森で古マイセンと出会い<br>優雅な時間を体験してください
      %span
        Spend a relaxing time at Hakone while enjoying the wonders of Antique Meissen.
.content--top
  .content--top__inner
    .greeting
      .greeting__header
        %h2 ごあいさつ
      .greeting__content
        %p
          世界一のコレクターでもあったアウグスト王が「磁器は魔物だ」と言った逸話があります。<br>
          私はしばしばヨーロッパへ赴き、魔物に取り憑かれたかのようにマイセンという磁器を収集してきました。そんな折、関東屈指の観光地である箱根強羅に、日本の大正期から昭和初期にみられた折中様式の歴史ある洋館に出会い、マイセンの素晴らしさを広めるべく箱根マイセンアンティーク美術館を開館いたしました。
        %p
          箱根の美術館にご来館くださるお客様に「どのように収集すべきですか」「どう扱えば良いのでしょう」としばしば尋ねられます。
          ティーカップはセットで購入する必要はありません。気に入った1点を少しずついろんな絵柄を楽しみながら集められたらよいと思います。そして飾るだけではなくお使いただくようお答えしています。<br>
          マイセンは芸術品であり高価な食器かもしれません。<br>
          でも、大切に扱いながらお茶や料理を味わっていただくと暮らしの中で緊張感が生まれ、そのおかげで心が豊かに育まれていきます。
        %p
          マイセンは次の世代への贈り物となる世界的な宝物です。<br>
          子供たちの代まで孫の代まで受け継いでいってほしい、それがマイセンを手にした者の使命であると思います。
          そして今もなお、私はマイセンの魅力を世界中に発信し続けていきます。<br>
          箱根観光の際は是非、箱根マイセンアンティーク美術館でマイセンの素晴らしさを感じていただけたら幸いです。
        %p
          箱根マイセンアンティーク美術館館長
