---
title: ご利用案内｜箱根マイセンアンテイーク美術館 - 箱根観光スポット
description: 箱根マイセンアンテイーク美術館の入館料やお得な特典、クーポンのご案内です。
path: info.html
---
.billboard--info
  .billboard__screen
.content
  %h1.pageTitle
    ご利用案内
    %span
      Information
  %section
    %h2.sectionTitle 会館時間 <span>Hall Time<span>
    .basicTextBlock
      .basicTextBlock__content
        %p
          会館時間：9:00 〜 17:30（最終入館17:00）<br>
          休館日：年中無休<br>
          駐車場：あり
  %section
    %h2.sectionTitle 入館料 <span>Admission fee<span>
    %table.basicTable
      %thead
        %tr
          %th 大人
          %th 学生
          %th 子供
      %tbody
        %tr
          %td 1600円
          %td 1100円
          %td 800円
    .basicTextBlock
      .basicTextBlock__content
        %p
          ※ JCB，VISA、DCカードをご利用いただけます。<br>
          ※ 学生：学生証をご提示いただく場合がございます。<br>
          ※ 子供：4歳〜中学生となります。
    .basicTextBlock
      .basicTextBlock__header
        %h3.subTitle お得な団体特典
      .basicTextBlock__content
        %p
          事前にご連絡いただいた場合のみご利用になれます。
          ツアー等大型バスご利用の際も事前にご連絡ください。
          係員が無料駐車場をご案内いたします。<br>
          10名以上で入館料お一人様あたり<strong>100円</strong>値引<br>
          20名以上で入館料お一人様あたり<strong>200円</strong>値引
        %p
          団体特典のお申し込みは以下の番号へお願いいたします。<br>
          TEL：0460-83-8855<br>
          FAX：0460-83-8856
    .coupon
      .coupon__image
        = image_tag 'ticket.gif', width: '268', alt: '特別割引クーポン'
      .coupon__content
        %h3.subTitle 特別割引クーポン
        %p
          受付にてクーポン画像をご提示いただきますと入館料を<strong>100円</strong>値引きさせていただきます。<br>
          <i>※ 団体特典との併用はできません</i>。
