---
title: お問い合わせ｜箱根マイセンアンテイーク美術館
description: 箱根マイセンアンティーク美術館へのお問い合わせはこちらのフォームからお願いいたします。
path: inquiry.html
---
.billboard--inquiry
  .billboard__screen
.content
  %h1.pageTitle
    お問い合わせ完了
    %span
      Finished
  %section
    %h2.sectionTitle お問い合わせありがとうございます <span>Thanks for your inquiry</span>
    %p
      数日中に担当者よりご記入頂いたメールアドレスへ返信いたします。<br>
      返信が来ない場合はお手数ですが以下の番号までお電話いただければと思います。
    %p
      TEL：0460-83-8855
    %br
    %br
    %p
      = link_to 'トップページへ戻る', '/index.html'
