---
title: マイセンQ＆A｜箱根マイセンアンテイーク美術館
description: マイセンに関する疑問に対してお答えしております。
path: qa.html
---
.billboard--qa
  .billboard__screen
.content
  %h1.pageTitle
    マイセンQ＆A
    %span
      Meissen Q&A
  %section
    %h2.sectionTitle porcelain（磁器）とpottery（陶器）の違いは？
    %p
      磁器はkaoline（高陸土）白磁鉱石が主成分で作られ、陶器はclay（粘土）陶土が 主成分で作られています。焼成の温度にも差があり、磁器のほうが高温で焼かれます。違いを判断するには、ピンと叩き、音で判断できます。硬い高音が磁器、柔らかな低音が陶器、聞き比べることが出来ればすぐに判断できます。強度も音に比例し、磁器が強く、陶器に勝ります。
  %section
    %h2.sectionTitle ボーンチャイナは中国製？
    %p
      ボーンチャイナの発祥の地はイギリスです。白磁づくりに欠かせないカオリンという成分がイギリスでは発見されなかったため、カオリンのかわりに牛の骨灰を利用してつくられたのがボーンチャイナです。１７５０年に発明されてから、改良を重ね、現在のような艶やかな地が出来上がりました。また、牛の骨灰が原材料の５０％以上をしめるものが、ファイン・ボーンチャイナです。
  %section
    %h2.sectionTitle マイセン磁器の特徴は？
    %p
      上質なカオリン特有の、輝くような白磁の透明感は他に類の無いものです。また土を掘り起こすところから、成型、絵付のすべての工程が今日なお手作業で行われていることも大きな特徴です。手作りという意味で、マイセン磁器は同じものが二つとない芸術品といえるでしょう。
      そして、300年近いその歴史の長さから、この間の芸術様式のすべてを網羅していることも、美術史上とても貴重です。つまり、バロックからロココ、ビーダーマイヤー、アールヌーボー、アールデコ、1710年の頃から現在まで、作られた総数は23万種類にも及びます。
  %section
    %h2.sectionTitle 青い双剣マークの由来は？
    %p
      初期のマイセンでは、アウグスト強王のイニシャル（AR：ラテン語の「アウグスト・レクス」・・・アウグスト王）が用いられていましたが、1722年に王家の紋章の双剣のマークがとられました。このマークは、後に製作所の監督官の交代などで変貌していきましたが、いつの時代にもマイセン磁器の真性を証明してきました。
  %section
    %h2.sectionTitle マイセンと柿右衛門の関係は？
    %p
      マイセンの発祥の要因は、アウグスト強王の古伊万里のコレクションからはじまります。中でも、柿右衛門の赤絵は20世紀になるまで王族にしか使用が許されない程でした。中国や日本の磁器を手本としていたマイセンは、ヨーロッパの王侯貴族が賞賛した柿右衛門手の影響を受け、マイセン独自の西洋柄の他に「柿右衛門写し」や「シノワズリ」と呼ばれる東洋柄も数多くあります。
  %section
    %h2.sectionTitle 作品の裏の数字の意味は？
    %p
      フォームナンバーと柄ナンバーを表しています。5桁で刻印されているものがフォームナンバー、6桁の数字は柄ナンバーです。場合によってペインターの番号が柄ナンバーに兼記されます。
  %section
    %h2.sectionTitle 同じ形のカップとソーサーで価格の差が大きいのは？
    %p
      同じ形であっても、絵付けの豊富さによってかなりの差が生まれます。花柄の場合には花の種類、色の数、そして描き方もポイントになります。色数が多いということは、それぞれ完全に乾くまで他の色をのせられませんし、自然主義的な描き方は、非 常に高度な技術を要求します。鳥や果物柄も非常に難しいジャンルで、現在これらを描けるのはごく数人のマイスターに限られます。
  %section
    %h2.sectionTitle いつ頃の物から「アンティーク」になるの？
    %p
      通常は、製作から100年以上たったものですが、マイセンの場合はその希少性から20世紀初頭の物も含まれ、アンティークとして扱われます。
  %section
    %h2.sectionTitle 現在のマイセンも時がたつと高くなるの？
    %p
      その折々のアンティーク市場の傾向によりますが、製作数量が少ないものや、珍しいものは高くなるでしょう。ただし、時代の流れによって、それを予測するのは困難ではありますが、それもまたマイセンの魅力のひとつでしょう。